<!DOCTYPE html>
<html lang="en">
<head>
<title>SuppFrame Submission - Vipul Sachdeva</title>
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
      <h1>VATSIM Flight Traffic</h1>
      <!-- Search form -->
      <form id="searchForm" action="/search" method="get">
        <div class="form-group">
          <label for="airport">Airport FAA Code</label>
          <input type="text" class="form-control" type="text" id="airport" name="apt" required>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
      </form>
    </div >
        <!-- Results section -->
        <% if (typeof data !== 'undefined' && data) { %>
        <div class="container">
            <%- include('results'); %>
        </div>            
          <% } %>
          <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>